@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(assets/mountain-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.title {
  color: rgb(247, 185, 109);
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.4rem;
}

h4 {
  color: rgb(247, 185, 109);
  font-size: 1.2rem;
  font-weight: 400;
}

p span {
  margin-bottom: 5px;
  font-size: 1.3rem;
  color: white;
  margin-right: 10px;
}

p {
  font-size: 1.3rem;
  color: rgb(247, 185, 109);
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.loc-weather-box {
  width: 80%;
  height: fit-content;
  background-color: rgba(24, 48, 100, 0.8);
  padding: 50px 30px 70px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.box {
  width: 80%;
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 48, 100, 0.8);
  border-radius: 5px;
  padding: 20px;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  outline: none;
  background-color: rgba(176, 203, 252, 0.6);
  border: none;
  border-radius: 5px;
  /* box-shadow: 0px 3px rgba(39, 37, 107, 0.7); */
  color: black;
  font-size: 1.2rem;
  z-index: 100;
  
}

.search-btn {
  cursor: pointer;
  padding: 15px;
  background-color: rgb(250, 159, 48);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 1.2rem;
  outline: none;
}

.search-btn:hover {
  background-color: rgb(247, 185, 109);
  transition: 0.4s ease-in-out;
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box {
  margin-bottom: 50px;
  border-bottom: 2px solid rgb(247, 185, 109);
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.valid-city {
  width: 80%;
  height: fit-content;
  background-color: rgba(24, 48, 100, 0.8);
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.icon {
  transform: scale(2.2);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media (min-width: 900px) {
  .loc-weather-box {
    width: 50%;
  }

  .box {
    width: 50%;
  }

  .valid-city {
    width: 50%;
  }

  h1 {
    font-size: 2.6rem;
  }

  .title {
    font-size: 2.6rem;
  }

  .search-bar {
    width: 50%;
  }
}
